html{
	font-size: 62.5%;
}

body{
	color: $text-primary-color;
	line-height: 1.5;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.6rem;

	a{
		color: #FFFFFF;
	}
}

body > header{

	color: #FFFFFF;

	.site-title{
		font-size: 2.2rem;
	}

	a{
		color: #FFFFFF;
		text-decoration: none;
	}

	ul.menu li.active a{
		font-weight: bold;
	}
	ul.menu.main{
		a{
			color: $text-secondary-color;
		}

		li.active a{
			color: $text-primary-color;
			font-weight: 500;
		}
	}
}

body > nav.sub a{
	color: #FFFFFF;
}

main{
	h1,
	h2,
	h3,
	h4,
	h5{
	}

	h1{
		text-align: center;
		font-size: 4.0rem;
	}

	.content a{
		color: $accent-color;
		font-weight: bold;
	}

	a.continue{
		color: #FFFFFF;
		font-weight: bold;
	}

	a.comment{
		font-weight: bold;
	}
}

body.home main{
	h1{
		font-size: 6.0rem;
	}

	.content-body{
		color: $text-secondary-color;
		font-family: 'Libre Baskerville', serif;
		font-size: 2.4rem;
	}
}
